* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c, #2a2a2a);
}

div {
  background: black;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container {
  background: #121212;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.buttons {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
}

button:nth-child(1) {
  width: 70px;
  background-color: black;
  color: red;
  border: 5px solid red;
  font-size: 25px;
  font-weight: 700;
  box-shadow: 0 0 20px rgba(255, 23, 68, 0.7);
}

button:nth-child(1):hover {
    box-shadow:
    0 0 10px rgba(255, 23, 68, 0.8),
    0 0 20px rgba(255, 23, 68, 0.7),
    0 0 40px rgba(255, 23, 68, 0.6),
    0 0 80px rgba(255, 23, 68, 0.5);
    transition: all 0.5s ease;
}

button:nth-child(1):active {
    background-color: red;
    color: white;
    border: 5px solid white;
}

button:nth-child(2) {
  width: 70px;
  background-color: black;
  color: green;
  border: 5px solid green;
  font-size: 25px;
  font-weight: 700;
  box-shadow: 0 0 20px rgba(0, 230, 118, 0.7);
}

button:nth-child(2):hover {
    box-shadow:
    0 0 10px rgba(0, 230, 118, 0.8),
    0 0 20px rgba(0, 230, 118, 0.7),
    0 0 40px rgba(0, 230, 118, 0.6),
    0 0 80px rgba(0, 230, 118, 0.5);
    transition: all 0.5s ease;
}

button:nth-child(2):active {
    background-color: green;
    color: white;
    border: 5px solid white;
}

button:nth-child(3) {
  background-color: black;
  color: yellow;
  border: 5px solid yellow;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0 0 20px rgba(255, 214, 0, 0.7);
}

button:nth-child(3):hover {
    box-shadow:
    0 0 10px rgba(255, 214, 0, 0.8),
    0 0 20px rgba(255, 214, 0, 0.7),
    0 0 40px rgba(255, 214, 0, 0.6),
    0 0 80px rgba(255, 214, 0, 0.5);
    transition: all 0.5s ease;
}

button:nth-child(3):active {
    background-color: yellow;
    color: white;
    border: 5px solid white;
}

.positive {
  color: #00e676;
  text-shadow: 0 0 10px #00e676;
}

.negative {
  color: #ff1744;
  text-shadow: 0 0 10px #ff1744;
}

.zero {
  color: #ffd600;
  text-shadow: 0 0 10px #ffd600;
}